
services:
  postgres:
    image: postgres:16
    container_name: postgres_restaurante
    restart: always
    ports:
      - "1111:5432"
    
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: restaurante_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

  n8n:
    image: n8nio/n8n:latest
    container_name: chatbot_n8n
    restart: unless-stopped
    environment:
      - N8N_PORT=5678
      - N8N_PROTOCOL=http
      - N8N_HOST=localhost
      - WEBHOOK_URL=http://localhost:5678/
      - GENERIC_TIMEZONE=America/Sao_Paulo
      - N8N_CUSTOM_EXTENSIONS=/data/custom
    ports:
      - "5678:5678"
    volumes:
      - n8n_data:/home/node/.n8n
    networks:
      - chatbot_network
    depends_on:
      - postgres

volumes:
  postgres_data:
  n8n_data:

networks:
  chatbot_network:
    driver: bridge